Repository openhwgroup/cva6, pull requests merged in 2023-08, with the labels that each got.

#1289 [Skip CI] Add CVXIF chapter in user's guide
  docs/01_cva6_user/CVX_Interface_Coprocessor.rst
  docs/conf.py
Labels: Component:Doc, Status:Do-not-merge, Type:Enhancement, Status:In Progress

#1331 [Skip CI] CV-X-IF user guide: editorial changes.
  docs/01_cva6_user/CVX_Interface_Coprocessor.rst
Labels: Component:Doc, Type:Enhancement, Status:New

#1343 Update .readthedocs.yaml
  .readthedocs.yaml
Labels: Component:Doc
