Repository openhwgroup/cva6, pull requests merged in 2023-04, with the labels that each got.

#1114 [Skip CI] Adding the virtual memory section
  docs/01_cva6_user/Programmer_View.rst
Labels: Component:Doc, Type:Enhancement, Status:New

#1200 [SkipCI] CONTRIBUTING.md: replace emoji with GitHub labels
  CONTRIBUTING.md
Labels: Component:Doc, Type:Enhancement

#1201 [Skip CI] Various user's guide edits
  docs/01_cva6_user/Custom_Instructions.rst
  docs/01_cva6_user/Programmer_View.rst
Labels: Component:Doc, Type:Enhancement

#1158 LINT: Initial changes for Lint warnings removal
  Makefile
  common/local/util/sram.sv
  core/cache_subsystem/axi_adapter.sv
  core/cache_subsystem/cva6_icache_axi_wrapper.sv
  core/cache_subsystem/wt_axi_adapter.sv
  core/cache_subsystem/wt_dcache_missunit.sv
  core/cva6.sv
  core/fpu_wrap.sv
  core/include/ariane_pkg.sv
  core/include/instr_tracer_pkg.sv
  core/include/riscv_pkg.sv
  core/load_unit.sv
  core/perf_counters.sv
  corev_apu/fpga/src/ariane_xilinx.sv
  corev_apu/tb/ariane_soc_pkg.sv
  corev_apu/tb/ariane_testharness.sv
  docs/05_cva6_apu/cva6_testharness.md
  verilator_config.vlt
Labels: Component:RTL, Component:Tool-and-build, Type: Lint
